header {
    text-align: center;
    background-color: white;
}

html {
    scroll-behavior: smooth;
  }

ul {

    text-align: center;
    padding-right: 40px;
    list-style: none;
}

h2 {
    text-align: center;
}

.emotion {
    position: absolute;
    top: 70px;
    right: 30%;
    color: fuchsia;
}


#wrap {
    overflow: auto;
    margin: 20px 0px;
}

.left,
.right,
.realright {
    float: left;
    height: 200px;
}

.left {
    width: 12%;
    margin-right: 2%;
    background-color: cornflowerblue;
}

.right {
    width: 65%;
    text-align: center;
    background-color: blanchedalmond;
}

.realright {
    background-color: forestgreen;
    width: 17%;
    margin-left: 3%;
    text-align: center;
}

footer {
    background-color: brown;
    clear: left;
}

.img {
    height: 500px
}

img {
    display: block;
    margin: 0px auto;
    width: auto;
    max-height: 100%;
}

input[type=text] {
    width: 450px;
    height: 45px;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    border: 0;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.581);
    color: rgb(255, 255, 255);

}

#theme>input~label>img {
    width:30%;
    height:30%;
    display: inline-block;
}

.imgarea>input {
    display: none;
}
.imgarea>input+label {
    display: none;
}

input[id='spring']:checked~.imgarea>input[name='springimg']+label {
    display: block;
}
input[id='summer']:checked~.imgarea>input[name='summerimg']+label {
    display: block;
}
input[id='autumn']:checked~.imgarea>input[name='autumnimg']+label {
    display: block;
}
input[id='winter']:checked~.imgarea>input[name='winterimg']+label {
    display: block;
}
.imgarea>input+label>img{
    width: 200px;
    height: 280px;
    display: inline-block;
    position: relative;
}

.imgarea { 
    margin: auto;
    column-count: 2;
    column-gap: 32px;
}
.imgarea>input:checked+label>img {
    border: 5px solid black;
}
.themearea {
    text-align: center;
}
.imgarea>input+label>img:hover { 
    transition: 1s;
    width:300px;
    height:400px;
}
Footer © 2022 GitHub,
Inc. Footer navigation Terms Privacy Security Status Docs Contact GitHub Pricing API Training Blog About giftticon-project/main.css at master · sejong-kid/giftticon-project
