header{
  text-align: center;
  background-color: white;
}


ul{

  text-align: center;
  padding-right: 40px;
  list-style : none;
}

h2{
  text-align: center;
}

.emotion{
  position: absolute;
  top: 70px;
  right: 30%;
  color:fuchsia;
}


#wrap{
  overflow: auto;
  margin: 20px 0px;
}

.left, .right, .realright{
  float:left;
  height:200px;
}

.left{
  width : 12%;
  margin-right: 2%;
  background-color:cornflowerblue;
}

.right{
  width: 65%;
  text-align: center;
  background-color:blanchedalmond;
}

.realright{
  background-color: forestgreen;
  width : 17%;
  margin-left: 3%;
  text-align: center;
}

footer{
  background-color:brown;
  clear:left;
}

.img {height:500px}
img {display: block; margin: 0px auto;
  width: auto; max-height: 100%;}

input[type=text] {
  width: 450px;
  height: 45px;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  border: 0;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.581);
  color: rgb(255, 255, 255);
  
}
