<!DOCTYPE html>
<html>

<head>
    <title>
        기프티체인지
        <!-- 여섯째 템플릿 -->
        <!-- 이전 템플릿 명 'selectimage.html' -->
        <!-- 다음 템플릿 명 'product.html' -->
    </title>
    <style>

    </style>
</head>

<body>
    <link rel='stylesheet' href="../../static/imgpost.css">
    <link rel='stylesheet' href="../../static/common.css">
    <form method='get' action='/giftapp/product/'> 선택이 끝났어
        <br>
        <span class='inputarea' style='display: none;'>
            <div>
                <input type="text" name="name" value='{{name}}'>
                <input type="number" name="pin" value='{{pin}}'>
                <input type="number" name="date" value='{{date}}'>
                <input type="text" name="theme" value='{{theme}}'>
                <input type="text" name="img" value='{{img}}'>
            </div>
        </span>
        <span class='theme'>
            <ul class='themeimgul' style='column-count: 2;'>

                <li>

                    <img src="../../static/img/{{theme}}.jpg">
                </li>
                <li>
                    <img src="../../static/img/{{themeimage}}.jpg">
                </li>

            </ul>
            최종적으로 이제 네가 선택한 테마는 {{ theme }}이고 이미지는 {{img}}야
        </span>
        <input type='submit' value='자 결과를 확인하러 가볼까?'>
    </form>


</body>

</html>