<!DOCTYPE html>
<html>

<head>
    <title>
        기프티체인지
        <!-- 일곱번째 템플릿 -->
        <!-- 이전 템플릿 명 'imagepost.html' -->
    </title>

</head>

<body style='text-align: center;'>
    <link rel='stylesheet' href="../../static/common.css">   
    <link rel='stylesheet' href="../../static/product.css">
    결과물!
    <div style='position: relative;'>

        <img id='back' src='../../../static/img/{{img}}.jpg'>
        <div>
            <div style='width: 400px; height:400px; background-color: antiquewhite;'></div>
        </div>

        <img id='qr' src='../../../static/bar.jpg'>
        <p id='name'>{{name}}</p>
        <p id='pin'>{{pin}}</p>
        <p id='date'>{{yr}}년 {{mt}}월 {{dt}}일</p>
    </div>
</body>

</html>