/*바디 포커스 및 포지션 중앙으로 */
body
{
  margin: 0 auto;
  width: 300px;
}
main {
  min-height: 0px;
  position: absolute;
}
.main img {
  position: absolute;
  width: 0px;
  height: 0px;
  scale: 25%;
  margin-right: 40px;
  margin-left: 0px;
}
/*테마를 선택해주세요*/
.index {
  position: absolute;
  font-size: 70px;
  width: 900px;
  height: 400px;  
  background-color: rgba(255, 255, 255, 0.498);
  padding: 1 0px;
  margin-top: 90px;
  text-align: center;
  font-family: 'Jua', sans-serif;
  border-radius: 20px;
}

/* 라디오 버튼 숨기기 */
.btn {
  opacity: 0;
}
/* 이미지 css */
/*이미지 트랜지션 트랜스폼 필터 효과 */

.img img {
  transition: all 0.2s linear;
  filter: grayscale(100);
  float: center;
}

/*이미지 사이징 및 포지션 값 */

.spring img { width: 300px; height: 200px; margin-bottom: -135px; margin-top: 246px; margin-left: -28px; scale: 70%; }
.summer img { width: 300px; height: 200px; margin-bottom: 300px;  margin-top: -65px; margin-left: 190px; scale: 70%; }
.autumn img { width: 300px; height: 200px; margin-top: -500px; margin-left: 410px; scale: 70%; } 
.winter img { width: 300px; height: 200px; margin-top: -500px; margin-left: 627px; scale: 70%; } 


/*이미지 호버 효과*/

.spring:hover img { transform: scale(1.4); filter: none; scale: 40%; box-shadow: 2px 2px 20px rgb(0, 0, 0);}
.summer:hover img { transform: scale(1.4); filter: none; scale: 40%; box-shadow: 2px 2px 20px rgb(0, 0, 0);}
.autumn:hover img { transform: scale(1.4); filter: none; scale: 40%; box-shadow: 2px 2px 20px rgb(0, 0, 0);}
.winter:hover img { transform: scale(1.4); filter: none; scale: 40%; box-shadow: 2px 2px 20px rgb(0, 0, 0);}

/* 선택된 테마 출력창 */
.out input{
  position: absolute;
  text-align: center;
  border: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-family: 'Do Hyeon', sans-serif;
  width: 900px;
  height: 400px;
  margin-top: -300px;
  cursor: text;
  outline-style: none;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}
.radio-box {background-color: rgb(147, 70, 235); width: 900px; height: 200px; border-radius: 10px; margin-top: -200px;}
/* 다음 단계로 */
.next {
  width: 900px;
  height: 200px;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-size: 100px;
  font-family: 'Jua', sans-serif;
  transition: all 0.2s linear;
  scale: 100%;

}
.next:hover{
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.119);
  filter: none;
  border-radius: 45px;
  scale: 99%;
}

/* #box {
  position: absolute;
  display: flex;
  margin-left: 850px;
  margin-top: -50px;
  width: 600px;
  height: 8000px;
  scale: 100%;
  border: 0;
  background-color: rgba(255, 255, 255, 0.482);

} */
